@tailwind base;
@tailwind components;
@tailwind utilities;
body {
/*background-image:url("https://en.idei.club/uploads/posts/2023-06/1686787518_en-idei-club-p-portfolio-background-dizain-krasivo-1.jpg");*/
 
  
  
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}